<article class="media float-right mt-2">
    <div class="media-left">
        <figure class="image is-30x30">
            <img src="http://openweathermap.org/img/w/{{ chongqing_weather.icon }}.png" alt="Image">
        </figure>
    </div>
    <div class="media-content">
        <div class="content">
            <p>
                <span class="title">{{ chongqing_weather.city }}, {{ chongqing_weather.country }}</span>
                <br>
                <span class="subtitle">{{ chongqing_weather.temperature }} °C, {{ chongqing_weather.description }}</span>
            </p>
        </div>
    </div>
  
  </article>