{% extends "layouts/base.html" %}
{% load book_extras %}
{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="col-xl-8 col-md-6">
        <div class="card Recent-Users">
            <div class="card-header">
                <h5>实时监控检测</h5>
            </div>
            <div class="card-body" style="width: auto; height: auto; display: flex; justify-content: center;">
                <!-- 容器1：用于显示选择的图片或视频 -->
                <div class="file-container"
                     style="display: inline-block; width: 400px; height: 300px; border: 1px solid #ddd; margin-right: 20px; text-align: center;">
                    <img id="selected-image" src="#" alt="Selected Image" class="img-thumbnail"
                         style="width: 100%; height: 100%; object-fit: contain; display: none;">
                    <video id="selected-video" controls autoplay
                           style="width: 100%; height: 100%; transform: scaleX(-1);object-fit: contain;"></video>
                </div>

                <!-- 容器2：用于显示处理后的图片或视频 -->
                <div class="processed-file-container"
                     style="display: inline-block; width: 400px; height: 300px; border: 1px solid #ddd; text-align: center;">
                    <img id="processed-image" src="#" alt="Processed Image" class="img-thumbnail"
                         style="width: 100%; height: 100%; object-fit: contain; display: none;">
                    <video id="processed-video" controls
                           style="width: 100%; height: 100%; object-fit: contain;"></video>
                </div>
            </div>

            <!-- 按钮容器 -->
            <form id="file-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="button-container" style="display: flex; justify-content: center; margin-top: 20px;">
                    <!-- 隐藏的文件输入 -->
                    <input type="file" id="file-input" name="file" accept="image/*,video/*"
                           style="display: none;">
                    <button type="button" id="open-camera" class="btn">打开摄像头</button>
                    <button type="button" id="stop-camera" class="btn">关闭摄像头</button>
                    <button type="button" id="start-recording" class="btn">开始录制</button>
                    <button type="button" id="stop-recording" class="btn">停止录制</button>
                    <button type="submit" id="upload-video" class="btn">上传视频</button>

                </div>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const videoElement = document.getElementById('selected-video');
            const processedVideo = document.getElementById('processed-video');
            let stream = null;
            let mediaRecorder;
            let recordedChunks = [];
            const selectFileButton = document.getElementById("select-file-button");
            const selectedVideo = document.getElementById("selected-video");
            const fileInput = document.getElementById("file-input");
            const fileForm = document.getElementById("file-form");

            document.getElementById('open-camera').addEventListener('click', function () {
                if (stream) {
                    stream.getTracks().forEach(track => {
                        track.stop();
                    });
                }

                navigator.mediaDevices.getUserMedia({video: true, audio: false})
                    .then(function (newStream) {
                        videoElement.srcObject = newStream;
                        stream = newStream;
                    })
                    .catch(function (err) {
                        console.error('获取用户媒体设备失败：', err);
                    });
            });

            document.getElementById('stop-camera').addEventListener('click', function () {
                if (mediaRecorder && mediaRecorder.state === "recording") {
                    mediaRecorder.stop();
                }
                if (stream) {
                    stream.getTracks().forEach(track => {
                        track.stop();
                    });
                    videoElement.srcObject = null;
                    stream = null;
                }
            });

            document.getElementById('start-recording').addEventListener('click', function () {
                recordedChunks = [];
                mediaRecorder = new MediaRecorder(stream);

                mediaRecorder.ondataavailable = function (event) {
                    if (event.data.size > 0) {
                        recordedChunks.push(event.data);
                    }
                };

                mediaRecorder.start();
            });

            document.getElementById('stop-recording').addEventListener('click', function () {
                if (mediaRecorder) {
                    mediaRecorder.stop();
                }
            });

            fileForm.addEventListener("submit", function (event) {
                event.preventDefault(); // 防止默认表单提交

                if (recordedChunks.length === 0) {
                    console.error('No video recorded.');
                    return;
                }

                const videoBlob = new Blob(recordedChunks, {type: 'video/webm'});
                const formData = new FormData(fileForm);
                formData.append('video', videoBlob, 'recorded_video.webm');

                console.log('Uploading video...');
                fetch({% url 'upload_real_time_video' %}, {
                    method: "POST",
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                    if (data.processed_video_url) {
                            processedVideo.src = data.processed_video_url;
                            processedVideo.style.display = "block";
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
            });
        });
    </script>

{% endblock content %}